---
import HorizontalCard from "@components/cards/HorizontalCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import createSlug from "@lib/createSlug";
import { getCollection } from "astro:content";

const last_projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Привет 👋</div>
    <div class="text-5xl font-bold">Я, Леонард Пак,</div>
    <div class="text-3xl py-3 font-bold">Инженер-Разработчик</div>
    <div class="py-2">
      <text class="text-lg">
        Занимаюсь разработкой <b>робототехнических систем</b>, <b
          >web-сервисов</b
        > и всяких железок. Смело называю себя <i>fullstack</i> разработчиком, однако
        <b>backend</b> всё же ближе к ❤️. Тут вы можете посмотреть мои проекты и
        узнать больше обо мне.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn btn-block btn-outline btn-accent"
        href="https://t.me/mrleonard"
        target="_blank"
      >
        Всегда на связи!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Мои последние проекты {"</>"}
    </div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/projects/" + createSlug(project.data.title, project.slug)}
          target="_self"
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
