---
import Icon from "@components/Icon.astro";
import type { SocialSchema } from "@content/config";
import { getCollection } from "astro:content";

const socials = (await getCollection("social")).map(
    ({ data }) => data as SocialSchema,
);
---

<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div
    class="social-icons px-4 pb-5 pt-1 flex flex-row flex-wrap gap-x-6 gap-y-3 self-center justify-center sticky bottom-0 bg-base-200"
>
    {
        socials.map(({ name, icon, url }) => (
            <a href={url} target="_blank" aria-label={name} title={name}>
                <Icon name={icon} size={24} />
            </a>
        ))
    }
</div>
