---
import Icon from "@components/Icon.astro";
import type { SocialSchema } from "@content/config";
import { getCollection } from "astro:content";

const socials = (await getCollection("socials")).map(
    ({ data }) => data as SocialSchema,
);
---

<div
    class="px-4 pb-5 pt-1 self-stretch sticky bottom-0 bg-base-200 flex flex-row flex-wrap justify-between"
>
    {
        socials.map(({ name, icon, url }) => (
            <a href={url} target="_blank" aria-label={name} title={name}>
                <Icon name={icon} size={24} />
            </a>
        ))
    }
</div>
